repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff-check
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-yaml
        args:
          - --allow-multiple-documents
      - id: check-json
      - id: check-xml
      - id: check-toml
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: detect-private-key
